<ul class="sidebar-link">
  <li class="sidebar-item">
    <%= link_to "投稿", listing_land_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "価格", pricing_land_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "説明", description_land_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "写真", photo_upload_land_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "備品", amenities_land_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "ロケーション", location_land_path, class: "sidebar-link active"%>
  </li>
</ul>
