<div class="panel panel-default">
  <div class="panel-heading">
    空いている土地をシェアしよう
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @land do |f|%>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label></label>
              <%= f.select :land_type, [["田んぼ", "rice-field"], ["畑", "farm"], ["山林", "forest"], ["雑種地", "others"]], id: "land_type", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>水道</label>
              <%= f.select :land_type, [["有", "1"], ["無", "1"]], id: "is_tap", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>
          
          <div class="col-md-4 select">
            <div class="form-group">
              <label>電気</label>
              <%= f.select :land_type, [["有", "1"], ["無", "1"]], id: "is_electronic", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>ガス</label>
              <%= f.select :land_type, [["有", "1"], ["無", "1"]], id: "is_gas", prompt: "選択してください", class: "form-control" %>
            </div>
          </div>
        </div>

        <div><%= f.submit "保存", class: "btn btn-normal" %></div>
      <% end %>


    </div>
  </div>
</div>
