<div class="row">
  <div class="col-md-3">
    <ul class="side-bar-list">
      <li class="sidebar-item"><%= link_to "投稿一覧", items_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "予約一覧", items_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "あなたのコーディネート", your_coordinations_path, class: "sidebar-link active" %></li>
    </ul>
  </div> 
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        あなたのコーディネート
      </div>
      <div class="panel-body">

        <% @coordinations.each do |coordination| %>
          <div class="row"> 
            <div class="col-md-2">
              <%= coordination.start_date %>
            </div>
            <div class="col-md-2">
              <%= link_to item_path(coordination.item) do %>
                <%= image_tag coordination.item.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-8"> 
              <%= link_to coordination.item.listing_name, item_path(coordination.item) %>
              <span class="pull-right text-center">
                <%= link_to user_path(coordination.item.user) do %>
                  <%= coordination.item.user.fullname %>
                <% end %>
              </span>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>