<ul class="sidebar-list">
  <li class="sidebar-item">
    <%= link_to "基本情報", listing_item_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "レンタル料", pricing_item_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "説明", description_item_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "写真", photo_upload_item_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "アクセサリー", accessories_item_path, class: "sidebar-link active"%>
  </li>
  <li class="sidebar-item">
    <%= link_to "発送元", location_item_path, class: "sidebar-link active"%>
  </li>
</ul>
