<div class="row">
  <div class="col-md-3">
    <ul class="side-bar-list">
      <li class="sidebar-item"><%= link_to "投稿一覧", items_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "予約一覧", items_path, class: "sidebar-link" %></li>
    </ul>
  </div> 
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        投稿一覧
      </div>
      <div class="panel-body">

        <% @items.each do |item| %>
          <div class="row"> 
            <div class="col-md-2">
              <%= image_tag item.cover_photo(:thumb) %>
            </div>
            <div class="col-md-7"> 
              <h4><%= item.listing_name %></h4>
            </div>
            <div class="col-md-3 right"> 
              <%= link_to "更新", listing_item_path(item), class: "btn btn-form" %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>